absl-py
altair
asgiref
asttokens
astunparse
attrs
blinker
boto3
botocore
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
coloredlogs
comm
comtypes
contourpy
cryptography
cycler
debugpy
decorator
dill
Django
django-cors-headers
djangorestframework

easyocr
exceptiongroup
executing
filelock
fire
Flask
Flask-Login
Flask-SQLAlchemy
flatbuffers
fonttools
fsspec
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
googletrans
greenlet
grpcio
gTTS
h11
h2
h5py
hpack
hstspreload
httpcore
httpx
huggingface-hub
humanfriendly
hyperframe
idna
imageio
imbalanced-learn
imblearn
imutils
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
jmespath
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
jwt
keras
kiwisolver
lapx
lazy_loader
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mpmath
narwhals
nest-asyncio
networkx
ninja
numpy
oauthlib
onnx
onnxruntime
opencv-python
opencv-python-headless
opt_einsum
packaging
pandas
parso
pickleshare
pillow
platformdirs

prompt_toolkit
protobuf
psutil
pure_eval
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pybboxes
pyclipper
pycparser
pydeck
Pygments
pyparsing
pypiwin32
pyreadline3
python-bidi
python-dateutil
pyttsx3
pytz
pywin32
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
rfc3986
rpds-py
rsa
s3transfer
safetensors
sahi
scikit-image
scikit-learn
scipy
seaborn
shapely
six
sklearn-compat
smmap
sniffio
SQLAlchemy
sqlparse
stack_data
streamlit
streamlit-option-menu
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminaltables
thop
threadpoolctl
tifffile
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
watchdog
wcwidth
Werkzeug
widgetsnbextension
wrapt
yolov5
yolov8